<h2>HEROES</h2>

<div class="heroes-container">
  <ul class="heroes-list">
    <li *ngFor="let character of characters; trackBy: trackById" class="hero-item">
      <a [routerLink]="['/hero', character.id]">
        <span class="hero-id">{{ character.id }}</span>
        <span class="hero-name">{{ character.name }}</span>
      </a>
    </li>
  </ul>
</div>

<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 0" class="pagination-button">
    <span class="arrow">&lt;</span> Previous
  </button>
  <span class="page-info">
    Page {{ currentPage + 1 }} of {{ getTotalPages() }}
  </span>
  <button (click)="nextPage()" [disabled]="isLastPage()" class="pagination-button">
    Next <span class="arrow">&gt;</span>
  </button>
</div>